body {
	font-family: lato, 'PingFang SC', 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, sans-serif;
}

.panel-a {
	background-image: url(http://o7mg1xt30.bkt.clouddn.com/19003.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 620px;
	position: relative;
	text-align: center;
	width: 100%;
}
.panel-a:before {
	border-bottom: 20px solid #F1A852;
	border-right: 20px solid transparent;
	content: "";
	position: absolute; left: 0; bottom: 0;
	height: 0;
	width: 50%;
}
.panel-a:after {
	border-bottom: 20px solid #F1A852;
	border-left: 20px solid transparent;
	content: "";
	position: absolute; right: 0; bottom: 0;
	height: 0;
	width: 50%;
}
.panel-a .title {
	color: #fff;
	font-size: 60px;
	position: absolute;
	left: 0;
	top: 150px;
	width: 100%;
}
.panel-a .sub-title {
	color: #fff;
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 320px;
	width: 100%;
}
.panel-a .more {
	border: 3px solid #fff;
	color: #fff;
	cursor: pointer;
	height: 60px;
	line-height: 60px;
	margin-left: -100px;
	position: absolute;
	left: 50%;
	top: 420px;
	text-decoration: none;
	width: 200px;
}
.panel-a .more:hover {
	background-color: rgba(255,255,255,0.1)
}
.panel-a .nav {
	height: 80px;
	position: relative;
}
.panel-a .nav .item {
	color: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	width: 200px;
}
.panel-a .nav .item a {
	color: #fff;
}
.panel-a .nav .item:nth-child(1) {
	margin-left: -350px;
}
.panel-a .nav .item:nth-child(2) {
	margin-left: -250px;
}
.panel-a .nav .item:nth-child(3) {
	margin-left: -100px;
}
.panel-a .nav .item:nth-child(4) {
	margin-left: 50px;
}
.panel-a .nav .item:nth-child(5) {
	margin-left: 150px;
}
.panel-a .nav .item.logo {
	line-height: 35px;
}
.panel-a .nav .item.logo svg {
	display: block;
	margin: 10px auto 0;
}

.panel-b {
	background-color: #F1A852;
	background-image: url(http://o7mg1xt30.bkt.clouddn.com/22903.png);
	background-repeat: no-repeat;
	background-size: 550px 350px;
	background-position: 100px 100px;
	border: 1px solid #F1A852;
	height: 550px;
	position: relative;
	width: 100%;
}
.panel-b .con {
	color: #fff;
	position: absolute;
	top: 180px;
	right: 100px;
	text-align: center;
	width: 550px;
}
.panel-b .con h3 {
	font-size: 34px;
}
.panel-b .con p {
	font-size: 18px;
}

.panel-c {
	height: 550px;
	position: relative;
	width: 100%;
}
.panel-c .img {
	background-image: url(http://o7mg1xt30.bkt.clouddn.com/16898.png);
	background-size: 550px 350px;
	background-repeat: no-repeat;
	position: absolute;
	top: 100px;
	right: 100px;
	height: 350px;
	width: 550px;
}
.panel-c .con {
	position: absolute;
	top: 180px;
	left: 100px;
	text-align: center;
	width: 550px;
}
.panel-c .con h3 {
	font-size: 34px;
}
.panel-c .con p {
	color: #F1A852;
	font-size: 18px;
}

.panel-d {
	background-color: #35393E;
	padding: 20px 0;
}
.panel-d .title {
	color: #fff;
	font-size: 35px;
	margin-bottom: 25px;
	text-align: center;
}
.panel-d .sub-title {
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.panel-d .item {
	background-size: 330px 220px;
	background-repeat: no-repeat;
	width: 1000px;
	margin: 50px auto;
	height: 220px;
}
.panel-d .item .box {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px 30px;
}
.panel-d .item.left {
	background-image: url(http://o7mg1xt30.bkt.clouddn.com/13504.png);
	background-position: 0 0;
}
.panel-d .item.left .box {
	margin-left: 350px;
}
.panel-d .item.right {
	background-image: url(http://o7mg1xt30.bkt.clouddn.com/13722.png);
	background-position: 100% 0;
}
.panel-d .item.right .box {
	margin-right: 350px;
}

.panel-e {
	background-color: #F1A852;
	padding: 30px 0;
	text-align: center;
}
.panel-e .title {
	color: #fff;
	font-size: 35px;
}
.panel-e .sub-title {
	color: #fff;
	font-size: 16px;
}
.panel-e .list {
	margin: 50px auto;
	width: 1000px;
}
.panel-e .list .item {
	background-image: url(http://o7mg1xt30.bkt.clouddn.com/bg_6.png);
	background-size: 220px 220px;
	background-repeat: no-repeat;
	background-position: 50% 10px;
	float: left;
	padding-top: 245px;
	width: 25%;
}
.panel-e .list .con {
	background-color: #fff;
	border-radius: 5px;
	width: 220px;
	padding: 20px 10px;
	margin: 0 auto;
}
.panel-e .list .con h4 {
	font-size: 20px;
}
.panel-e .list .con .em {
	color: #F8C577;
}

.panel-f {
	padding: 30px 0;
	text-align: center;
}
.panel-f .title {
	font-size: 35px;
}
.panel-f .sub-title {
	color: #F8C577;
	font-size: 16px;
}
.panel-f .list {
	margin: 50px auto;
	width: 700px;
}
.panel-f .list .item {
	float: left;
	padding-top: 350px;
	width: 50%;
	line-height: 30px;
}
.panel-f .list .wechat {
	background-image: url(http://o7mg1xt30.bkt.clouddn.com/erm.png);
	background-size: 350px 350px;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-position: 0 0;
}
.panel-f .list .qq {
	background-image: url(http://o7mg1xt30.bkt.clouddn.com/bg_7.png);
	background-size: 150px 150px;
	background-repeat: no-repeat;
	background-position: 50% 100px;
}



.footer {
	background-color: #35393E;
	color: #fff;
	line-height: 20px;
	padding: 20px 0;
	text-align: center;
}