body {
	font-family: lato, 'PingFang SC', 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, sans-serif;
}

.fixed-top {
	padding-top: 70px;
}

.header {
	background: #fff;
	height: 70px;
	line-height: 60px;
	padding: 5px 0;
	position: fixed; top: 0; left: 0;
	width: 100%;
	z-index: 9;
}
.header .logo {
	color: #4bf;
	font-size: 21px;
	text-decoration: none;
}
.header .logo img {
	height: 60px;
	margin-right: 15px;
	width: auto;
}
.header .nav {
	font-size: 16px;
}
.header .nav a {
	color: #333;
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
}
.header .nav a:last-child {
	padding-right: 0;
}
.header .nav a.active {
	color: rgba(68, 187, 255, 1)
}
.header .nav a:hover {
	color: rgba(68, 187, 255, .9)
}

.panel-a {
	background-repeat: no-repeat; 
	background-size: cover; 
	background-color: transparent; 
	background-position: 50% 50%; 
	background-image: url(http://o79adeknz.bkt.clouddn.com/bg_1.jpg);
	color: #fff;
	height: 300px;
	padding-top: 80px;
	text-align: center;
}
.panel-a h3 {
	font-size: 45px;
}
.panel-a p {
	font-size: 20px;
}
.panel-b {
	padding: 30px 0;
	text-align: center;
}
.panel-b h3 {
	color: #4bf;
	font-size: 36px;
}
.panel-b .sub-title {
	font-size: 20px;
	font-style: italic;
}
.panel-b .item {
	padding: 40px 0 10px;
}
.panel-b .item img {
	height: 128px;
}
.panel-b .item h4 {
	color: #4bf;
	font-size: 24px;
}
.panel-b .item p {
	font-size: 16px;
	margin-bottom: 2px;
}
.panel-c {
	background-repeat: no-repeat; 
	background-size: cover; 
	background-color: transparent; 
	background-position: 50% 50%; 
	background-image: url(http://o79adeknz.bkt.clouddn.com/bg_2.jpg);
	color: #fff;
	height: 900px;
	padding-top: 80px;
	text-align: center;
}
.panel-c .iframe {
	background: #aaa;
	height: 500px;
	margin: 0 auto 40px;
	width: 900px;
}
.panel-c h3 {
	font-size: 45px;
}
.panel-c p {
	font-size: 20px;
}
.panel-c .btn {
	display: block;
	margin: 20px auto 0;
	width: 200px;
}
.panel-d {
	padding: 30px 0;
}
.panel-d h3 {
	color: #4bf;
	font-size: 36px;
	text-align: center;
}
.panel-d .sub-title {
	font-size: 20px;
	font-style: italic;
	text-align: center;
}
.panel-d h4 {
	color: #4bf;
	font-size: 20px;
}
.panel-d .br {
	padding: 20px 0;
}
.panel-e {
	background-repeat: no-repeat; 
	background-size: cover; 
	background-color: transparent; 
	background-position: 50% 50%; 
	background-image: url(http://o79adeknz.bkt.clouddn.com/bg_3.jpg);
	color: #fff;
	height: 450px;
	padding-top: 80px;
}
.panel-e h3 {
	font-size: 45px;
	text-align: center;
}
.panel-e p {
	font-size: 20px;
	text-align: center;
}
.panel-e form {
	margin: 20px auto;
	width: 420px;
}
.panel-e .form-control {
	margin-bottom: 20px;
}
.panel-e .btn {
	display: block;
	margin: 0 auto;
	width: 100px;
}
.footer {
	line-height: 20px;
	padding: 20px 0;
	text-align: center;
}

.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}