section.header
	div.container
		div.clearfix
			a.logo.pull-left(href="/")
				img(src="http://o79adeknz.bkt.clouddn.com/logo.png")
				span Oh My Apps
			div.pull-right.nav
				a.active 你好吗？世界
				a 产品
				a 关于我们
				a 联系方式