section.header
	div.container
		div.clearfix
			a.logo.pull-left(href="/")
				img(src="http://o7mg1xt30.bkt.clouddn.com/logo.png")
				span Oh My Apps
			div.pull-right.nav#nav
				a.active(href="#panel-a") 你好吗？世界
				a(href="#panel-b") 产品
				a(href="#panel-d") 关于我们
				a(href="#panel-e") 联系方式