doctype html
html
  head
    title= title
    link(rel='stylesheet', href="/lib/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body.fixed-top
    block content
    script(src="/lib/jquery/jquery-1.11.3.js")
    script(src="/lib/validform/Validform_v5.3.2_min.js")
    script(src="/javascripts/main.js")
