doctype html
html
  head
    title= title
    link(rel="icon", href="/images/favicon.ico")
    link(rel='stylesheet', href="/lib/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/lab.css')
  body.fixed-top
    block content
    script(src="/lib/jquery/jquery-1.11.3.js")
    script(src="/javascripts/lab.js")
