extends ../layout/lab

block content 
	.panel-a
		.nav
		h2.title 
			div 我们是互联网行业技术的老司机
			div 带你装逼带你飞
		h3.sub-title We are all old driver,forced to take you to fly with you.
		a.more EXPLORE MORE...
	